---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content  | toc_generate}}
  </article>

  {% comment %} <div id="disqus_thread"></div> {% endcomment %}
  {% comment %} <script type="text/javascript"> {% endcomment %}
  {% comment %}   /* * * CONFIGURATION VARIABLES * * */ {% endcomment %}
  {% comment %}   var disqus_shortname = 'duleorlovicblog'; {% endcomment %}
    
  {% comment %}   /* * * DON'T EDIT BELOW THIS LINE * * */ {% endcomment %}
  {% comment %}   (function() { {% endcomment %}
  {% comment %}       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; {% endcomment %}
  {% comment %}       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; {% endcomment %}
  {% comment %}       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); {% endcomment %}
  {% comment %}   })(); {% endcomment %}
  {% comment %} </script> {% endcomment %}
  {% comment %} <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> {% endcomment %}

</div>
